/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* Align items to the right */
}

.right-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
    align-self: flex-start;
}


.input {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.log {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    /* Fill remaining vertical space */
    overflow-y: auto;
    margin: 20px;
    margin-top: 0;
    /* Scrollbar for overflow */
    /* Space between container and log */
}

.employee-cards {
    display: flex;
    flex-wrap: wrap;
    /* Allows cards to wrap to the next line */
    align-self: flex-start;
    justify-content: flex-start;
    width: 70%;
    /* Adjust as needed */
    padding: 10px;
    margin-right: auto;
    /* To align with the left edge */
}

.card {
    background: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(31%);
    /* Adjust the width as needed */
    box-sizing: border-box;
}

h1,
h2 {
    color: #333;
    text-align: center;
}

input,
button {
    width: calc(100% - 24px);
    /* Adjusted for padding */
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #0056b3;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    transform: translateX(2px);
}

.log-entry {
    border-bottom: 2px solid #eee;
    padding: 8px;
    color: #666;
    margin: 2px;
}
.clocked-in {
    background-color: rgb(28, 239, 28);
    /* You can choose a different color if you prefer */
}

@media screen and (max-width: 768px) {
    body {
        align-items: center;
    }

    .container,
    .log {
        width: 80%;
    }

    .log {
        flex-grow: 0;
        /* Reset flex-grow for smaller screens */
    }
}